

#inputUser
{
    width: 60%;
    margin: auto;
}

#logo-login
{
    display: block;
    margin: auto auto 50px;
    width: 50%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 27px;
}


#label-login
{
    margin-left: 47%;
    margin-bottom: 15px;
    margin-top: 15px;
}

#icono-usuario
{
    margin-left: 50%;
    margin-bottom: 13px;
}

#form-group-login
{
    margin-top: 34px;
}

#inputPassword
{
    width: 60%;
    margin: auto;
    margin-top: 10px;
}

#btn-ingresar
{
    width: 50%;
    height: 50px;
    margin-left: 25%;
}

.card-container
{
}

.card-login
{
    background-color: #f7f7f7;
    width: 500px;
    padding: 40px;
    margin-top: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

